In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
df_orders = pd.read_excel("./data/Muesli Project raw data.xlsx",sheet_name="Orders", header=1)

In [54]:
df_orders

,Index,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Origin Channel,Country/Region,City,State,Postal Code,Region,Category,Sub-Category,Product ID,Sales,Quantity,Discount,Profit
0,27,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.570,3,0.0,11.7741
1,45,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.980,2,0.0,19.7714
2,48,CA-2019-169194,2019-06-20,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.000,3,0.0,4.9500
3,60,CA-2019-111682,2019-06-17,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.000,2,0.0,3.3000
4,63,CA-2018-135545,2018-11-24,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,90004.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.980,2,0.0,6.1512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9894,US-2019-115441,2019-07-25,Second Class,SH-19975,Sally Hughsby,Sales,United States,Milwaukee,Wisconsin,53209.0,Central,Toasted Muesli,With Nuts,FUR-CH-10004626,403.560,4,0.0,96.8544
9990,9908,US-2018-129007,2018-09-13,First Class,KD-16615,Ken Dana,Sales,United States,Anaheim,California,92804.0,West,Toasted Muesli,With Nuts,FUR-CH-10000155,717.720,3,0.2,71.7720
9991,9913,CA-2018-132388,2018-10-10,First Class,KN-16390,Katherine Nockton,Sales,United States,Santa Barbara,California,93101.0,West,Toasted Muesli,With Nuts,FUR-CH-10001714,362.136,3,0.2,-54.3204
9992,9920,CA-2019-149272,2019-03-15,Standard Class,MY-18295,Muhammed Yedwab,Sales,United States,Bryan,Texas,77803.0,Central,Toasted Muesli,With Nuts,FUR-CH-10000863,528.430,5,0.3,-143.4310
9993,9948,CA-2020-121559,2020-06-01,Second Class,HW-14935,Helen Wasserman,Sales,United States,Indianapolis,Indiana,46203.0,Central,Toasted Muesli,With Nuts,FUR-CH-10003746,1925.880,6,0.0,539.2464

In [55]:
df_orders['Order ID'].nunique()

5009

In [56]:
df_campaign= pd.read_excel("./data/Muesli Project raw data.xlsx", sheet_name="Campaign Data")

In [57]:
df_campaign

           Order ID Arrival Scan Date     Customer Name
0    CA-2019-109666        2019-05-03      Kunst Miller
1    CA-2019-138933        2019-05-03       Jack Lebron
2    CA-2019-130001        2019-05-03  Heather Kirkland
3    CA-2019-113061        2019-05-06         Ed Ludwig
4    CA-2019-162138        2019-05-06       Grace Kelly
..              ...               ...               ...
328  CA-2020-129707        2020-05-08      Larry Hughes
329  CA-2020-125381        2020-05-08  Speros Goranitis
330  CA-2020-141733        2020-05-15       Rick Wilson
331  US-2020-104451        2020-05-15    Michelle Moray
332  US-2020-139647        2020-05-15      Todd Sumrall

[333 rows x 3 columns]

In [58]:
df_order_process=pd.read_excel("./data/Muesli Project raw data.xlsx", sheet_name="Order Process Data")

In [59]:
df_order_process

,Row ID,Order ID,Order Date,On Truck Scan Date,Ship Mode
0,3074,CA-2019-125206,2019-01-03,2019-01-07,Express
1,4919,CA-2019-160304,2019-01-02,2019-01-09,Standard Processing
2,4920,CA-2019-160304,2019-01-02,2019-01-09,Standard Processing
3,8604,US-2019-116365,2019-01-03,2019-01-09,Standard Processing
4,8605,US-2019-116365,2019-01-03,2019-01-09,Standard Processing
...,...,...,...,...,...
5894,908,CA-2020-143259,2020-12-30,2021-01-06,Standard Processing
5895,909,CA-2020-143259,2020-12-30,2021-01-06,Standard Processing
5896,1297,CA-2020-115427,2020-12-30,2021-01-06,Standard Processing
5897,1298,CA-2020-115427,2020-12-30,2021-01-06,Standard Processing
5898,5092,CA-2020-156720,2020-12-30,2021-01-06,Standard Processing

In [61]:
df_order_process['Order ID'].nunique()

3002

In [39]:
df_InternData=pd.read_excel("./data/Muesli Project raw data.xlsx", sheet_name="InternData Study")

In [40]:
df_InternData

           Order ID Ready to Ship Date Pickup Date
0    CA-2019-116540         2019-09-02  2019-09-03
1    CA-2019-116540         2019-09-02  2019-09-03
2    CA-2019-129847         2019-09-04  2019-09-04
3    CA-2019-129630         2019-09-04  2019-09-04
4    CA-2019-106278         2019-09-05  2019-09-06
..              ...                ...         ...
285  CA-2020-105333         2020-12-04  2020-12-07
286  CA-2020-105333         2020-12-04  2020-12-07
287  US-2020-110576         2020-12-04  2020-12-07
288  CA-2020-119305         2020-12-04  2020-12-07
289  CA-2020-142090         2020-12-07  2020-12-09

[290 rows x 3 columns]

# df.columns = df.iloc[0]    
# df=df.drop(0, axis=0).reset_index(drop=True)            
# df